*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #F1F5F8;
}
img{
    width: 100%;
    height: 100%;
}
/* Main Section */
main{
    text-align: center;
    padding: 30px 0px;
}
.underline{
    width: 120px;
    height: 3px;
    margin: 0 auto;
    background-color: #49A6E9;
    border-radius: 2px;
    box-shadow: 1px 2px 2px 0px #999999;
}
.container{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 1px 2px 0px #99999934,
                0px 2px 2px 0px #99999934,
                0px 2px 2px 3px #99999934;
    padding: 30px;
}
.container .person-img{
    width: 250px;
    height: auto;
    margin: 0 auto;
    border-radius: 50px;
}
#person-img{
    border-radius: 50%;
}

.item-content{
    padding: 20px;
}
.container #name{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
}
.container #job{
    font-size: 22px;
    font-weight: 200;
    color: #49A6E9;
    padding: 5px 0px;
}
.btn button{
    margin: 10px 10px;
    font-size: 12px;
    cursor: pointer;
}
.prev-btn{
    font-size: 12px;
}
.random-btn{
    font-size: 20px;
    padding: 5px 18px ;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    border: 2px solid #49A6E9;
    background-color: #49A6E9;
    color: #fff;
}
.random-btn:hover{
    background-color: transparent;
    border: 2px solid #49A6E9 ;
    color: #000000;
}
i.fas.fa-chevron-left,i.fas.fa-chevron-right{
    font-size: 18px;
}

